/*Class Selectors*/

.main-text {
  font-family: sans-serif;
  text-align: left;
  font-size: 72px;
  color: white;
  background-color: #333;
  margin-top: 10px;
  opacity: .75;
  line-height: 1;
  display: block;
}

.alternate-text {
  font-family: sans-serif;
  text-align: right;
  font-size: 22px;
  color: white;
  margin-top: -275px;
  opacity: .75;
  line-height: 1.75;
  display: block;
  padding-right: 5px;
}

.price-chart, .venmo, .paypal {
  font-family: sans-serif;
  text-align: center;
  font-size: 26px;
  background-color: #333;
  opacity: .75;
  color: White;
  display: block;
  padding-left: 35%;
  padding-right: 35%;
}

.request, .request-form {
  font-family: sans-serif;
  text-align: center;
  font-size: 22px;
  color: White;
  display: block;
  padding-left: 35%;
  padding-right: 35%;
  background-color: #333;
  opacity: .75;
}

  .monogram{
  float: right;
  color: white;
  overflow: hidden;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
   }


/*Type Selectors*/
html, body {
  font-family: Arial;
  font-size: 25px;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
 background-image: url('images/shoes.jpg');
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
}

 ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  opacity: .95;
  line-height: normal;
  margin-top: 0;
  margin-left: -3%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

p {
  text-align: center;
  display: block;
}




/*ID Selectors*/
#instagram a:hover {
  float: right;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
/*Queries*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@media (min-width:320px)
{ /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)
{ /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)
{ /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)
{ /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px)
{ /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px)
{ /* hi-res laptops and desktops */ }
